body{
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif ;
    font-weight: 300;
    text-align: center;
    background-color: #FDE4E4;
    
}
.box {
  display: flex;
  flex-direction: column;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.husk{
  border-radius: 50px;
  width: 20px;
}

.huskplace{
  align-self: flex-start;
  margin-left: 35px;
  margin-top: 3px;
  font-size: 15px;
}

.inplacering{
  display: flex;
  flex-direction: column;
  text-align: center;
    justify-content: center;
    align-items: center;
}

input {
    width: 365px;
    padding: 26px;
    font-size: 16px;
    border: 2px solid #132D46;
    border-radius: 50px; /* Runder kanterne meget */
    outline: none;
    transition: all 0.3s ease-in-out;
    background-color: #FDE4E4
  }

  nav{
    text-align: left;
    margin-top: 25px;
    margin-left: 15px;
  }

  header {
    justify-content: center;
    align-items: center;
    margin-top: 35px;
  }

  main h1 {
    font-size: 18px;
    font-weight: lighter;
    margin-top: 35px;
  }

  main h2 {
    text-align: left;
    font-size: 13px;
    margin-bottom: 2px;
margin-left: 40px;   
font-weight: lighter;
  }

.placering{
  margin-top: 15%;
}

.place{
 display: flex;

}

.knapvis{
  border: 0;
  
}
.knap img{
  width: 25px;
  position: absolute;
  margin-top: 39px;
  margin-left: 220px;
}
button{
  width: 110px;
  border-radius: 50px;
  color: black;
  border: 4px solid #132D46;
  text-decoration: none;
  background-color: #FDE4E4;
  padding: 10px;
  font-size: 13px;
 outline: none;
}

.knap {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.display{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
}

.margin{
  margin-top: 15px;
}

span{
  display: flex;
  font-size: 20px;
  margin-left: 45px;
  margin-top: 84px;
  color: black;
}