body{
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif ;
  font-weight: 300;
  text-align: center;
  background-color: #FDE4E4;
  
}
.box {
display: flex;
flex-direction: column;
}

.img-fluid {
max-width: 100%;
height: auto;
}
nav{
  text-align: left;
  margin-top: 25px;
  margin-left: 15px;
}

header {
  justify-content: center;
  align-items: center;
  margin-top: 35px;
}
button{
  width: 110px;
  border-radius: 50px;
  color: black;
  border: 4px solid #132D46;
  text-decoration: none;
  background-color: #FDE4E4;
  padding: 10px;
  font-size: 13px;
 outline: none;
}

.knap {
  display: flex;
  justify-content: center;

}

section{
  display: flex;
  border: 3px solid #000000;
  border-radius: 50px;
}

.place{
  flex-direction: column;
}
  main h1 {
    font-size: 20px;
    font-weight: lighter;
  }
